<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Game Of Life - AngularJS</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div ng-app="gameOfLifeApp" ng-controller="gameOfLifeCtrl">

        <h3 style="text-align: center">Game Of Life</h3>

        <table>
            <tr ng-repeat='row in rows'>
                <td ng-click=activate(rows.indexOf(row),$index)
                    ng-repeat='col in row.cols'
                    ng-class="{'new':col.active == 1, 'old':col.active >1 }">
            </tr>
        </table>

        <div class="components">
            <button ng-click="stopGame();">stop</button>
            <button ng-click="startGame(false);">start</button>
            <button ng-click="clear();">clear</button>
            Generation: {{generation}}
        </div>

        <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
         <script src="script.js"></script>

</body>
</html>